<div style="margin: 20px;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>مقدار پرداخت</th>
                <th>بابت</th>
                <th>وضعیت پرداخت</th>
        </tr></thead>
        <tbody>
          <tr>
              <td>2525 تومان</td>
              <td>ddlkjfdslkj</td>
              <td>ldskjflsdj</td>
          </tr>
        </tbody>
    </table>
</div>