<%- include(viewPath('home/panel/head')); %> 

<div class="mt-4">
  <form action="#" method="POST" class="w-25">
    <select class="form-controle" name="plan" id="plan">
      <option value="1">یک ماهه</option>
      <option value="3">سه ماهه</option>
      <option value="12">یک ساله</option>
    </select>
    <input type="submit" value="افزایش اعتبار">
  </form>
</div>