<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ایجاد دسته جدید</h2>
</div>
<form class="form-horizontal" action="/admin/categories/create" method="post" >

  <%- include(viewPath('layout/error-messages')) %> 

  <div class="form-group row">
    <div class="col">
      <label for="name" class="control-label font-weight-bold">عنوان دسته</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="عنوان را وارد کنید" value="<%= old('name'); %> ">
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <label for="parent" class="control-label font-weight-bold font-weight-bold">دسته والد</label>
      <select name="parent" id="parent" class="form-control">
        <% categories.forEach(category => { %> 
          <option  value="<%= category.parent.name === category.name ? 'selected' : ''; %> "><%= category.name %> </option>
        <% }); %> 
      </select>
    </div>
  </div>
  <div class="form-group row">
      <div class="col">
        <button type="submit" class="btn btn-danger">ایجاد</button>
      </div>
  </div>
</form>